.unitsBgColor{
    background-color: #f9f9f9;
}
.removePosition{
    position: unset !important;
    width: 90% !important;
    display: block !important;
}
.wrapper {
    overflow: hidden ;
    max-width: 100%;
    /* margin-top: 8rem; */
  }
  .frame_container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%; /* enlarge beyond browser width */
    left: 0%; 
  }
  .frame_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .pointer{
    cursor: pointer;
  }
  
  .search {
   margin: auto;
   padding-right: 0.8rem;
    width: 84%;
    /* margin-top: 8rem; */
  }
  .coloum_borderEnd {
    height: 3rem;
    width: 1px;
    margin-left: 2rem;
    background-color: #adadadbd;
    /* border: 1px solid #adadadbd; */
  }
  .btnSearch {
    color: white;
    font-size: 16px;
    padding: 1.6rem 0.1rem;
    background-color: #21275b;
    width: 100%;
  }
  .btnSearch__mobile{
      margin-top: 1.5rem;
      padding: 0.7rem 0.4rem;
      font-weight: 400 !important;
  }
  .rangeWidth {
    width: 96% !important;
  }
  .colorBlue{
      color: #21275b !important;
  }
  .input__ContainerBorder{
      border: 1px solid #b7b7b7;
  }
  .bord{
      border-left: 1px solid #b7b7b7 !important;
      color: #b7b7b7;
  }
  
  .searchPropertiesButton {
      color: white;
      font-size: 0.5rem;
      margin: auto;
      background-color: #21275b;
     
    }
    .bgColor__Canvas{
      background-color: #FCFCFC;
    }
    .line{
      height: 1px;
      width: 95%;
      background-color: #e5e5ea;
      border-top: 1px solid #e5e5ea;
    }
    .rangSiz__mobile{
      width: 95%;
    }
    .canvas__width{
      width: 88% !important;
    }
    .price{
      width: 100%;
    }
    .inputs__container{
      width: 100%;
    }
    .input__ContainerBorder input{
      color: #b7b7b7;
      font-size: 11px;
      padding-inline: 5px;
    }
    @media screen and (max-width:768px) {
      .wrapper{
        margin-top: 5.5rem;
      }
      .cardWidth{
        width: 90% !important;
      }
    }


    /* card */

    .unitCardImage{
        object-fit: cover;
          width: 100%;
          max-height: 250px !important;
          height: 300px !important;
      }
      .blueColor{
        color: #21275b;
      }
      .knowMore {
        background-color: #21275b;
        border: none;
        border-radius: 30px;
      }
      .LinkStyle{
        text-decoration: none !important;
        color: red !important;
      }
      .callUs {
        background-color: #fff;
        border: 1px solid #21275b;
        border-radius: 30px;
        color: #21275b;
      }
      .cardWidth{
        width: 100%;
      }


.cardTitle{
    font-size: 12px;
}
.bgStatus{
    background-color: #E6E7EC;
    border-radius: 10px;
    font-size: 13px;
}













