.trending {
  background-image: url("../../public/background.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.textWhite {
  color: white !important;
}
.knowMore {
  background-color: #21275b;
  border: none;
  border-radius: 30px;
}
.checkLeftArrow{
  left: 4% !important;
}
.callUs {
  background-color: #fff;
  border: 1px solid #21275b;
  border-radius: 30px;
  color: #21275b;
}
.swiper-button-next {
  /* position: absolute; */
  /* right: 50% !important; */
}
.trendingImage {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  height: 250px;
}
.trendingLineWidth {
  width: 25% !important;
  height: 1px;
}
.next {
  right: 50%;
}
.ourDevelopment__SwiperButtons {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.5) !important;
  min-width: 45px;
  min-height: 45px;
  border-radius: 35px !important;
  font-size: 10px !important;
  top: 63% !important;
}
.checkRightArrow{
  right: 4% !important;
}
.ourDevelopment__SwiperButtons::after {
  /* content: "\e824"; */
  font-size: 20px !important;
  color: #000 !important;
}
.ourDevelopmentLeftArrow {
  left: 27% !important;
}
.ourDevelopmentRightArrow{
    right: 27% !important;
}
.cardImage__container{
    max-height: 300px !important;
    height: 250px !important;
    width: 100% !important;
    object-fit:   cover !important;
}
@media screen and (max-width: 768px) {
  .trendingFontSize {
    font-size: small !important;
    margin-top: 2vw;
  }
  .hideFromPc {
    display: none;
  }
  .showInMopile {
    display: block !important;
  }
  .cardFontSize {
    font-size: 5vw !important;
  }
  .trending {
    /* height: 90vh !important; */
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mobileWidth {
    width: 100% !important;
  }
  .trending {
    padding: 5rem 0 !important;
  }
}
@media screen and (min-width: 376px) and (max-width:425px) {
  .ourDevelopment__SwiperButtons{
    top: 34% !important;
  }
}
@media screen and (min-width: 426px) and (max-width:768px) {
  .ourDevelopment__SwiperButtons{
    top: 34% !important;
  }
}
@media screen and (max-width: 375px) {
  .ourDevelopment__SwiperButtons{
    top: 34% !important;
  }
}
@media screen and (max-width: 700px) {
  .trending {
    /* height: 75vh !important; */
  }
}
.unitCardImage{
  object-fit: cover;
    width: 100%;
    max-height: 300px;
    height: 250px;
}
.blueColor{
  color: #21275b;
}