.input{
    border: 1px solid #d5d5d5;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    /* padding: 0.5rem 4rem; */
}
.footerBtn{
    border: 1px solid #21275b !important;
    border-radius: 0;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    background-color: #21275b !important;
    color: white;
    font-size: 0.7rem !important;
}
.input::placeholder{
    padding-left: 1rem;
}
.footerFs{
    font-size: 0.8rem !important;
    line-height: 1.334;
}
@media screen and (max-width: 767px) {
    .mTop{
        margin-top: 1rem;
    }
    .editPadding{
        padding: 3rem 2rem !important;
    }
    .textEnd{
        text-align: end;
        padding-right: 1rem;
    }
}
@media screen  and (max-width:425px){
   .footerFs{
    font-size: small !important;
   } 
}