.LeadingLine{
    background-color: rgba(88,88,85,.175) !important;
}
.zoom{
    transition: 0.5s all;
}
.categoryItem:hover .zoom{
    transform: scale(1.1);
}
.overlay{
    background-color: rgba(0, 0,0,0.4);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.zoomContainer:hover .zoom{
  transform: scale(1.1);
  transition: 0.5s all;
}
/* .categoriesGrid{
  display: grid!important;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-gap: 16px 16px;
  gap: 16px 16px;
  grid-template-areas:
      "item1 item3 item4"
      "item1 item3 item4"
      "item1 item3 item4"
      "item1 item3 item5"
      "item2 item3 item5"
      "item2 item3 item5";
   
}
.categoryItem{
  overflow: hidden;
  border-radius: 10px;
}
.categoryItem_1{
  grid-area: item2;
  padding: 0;
}
.categoryItem_2{
  grid-area: item1;
  padding: 0;
}
.categoryItem_3{
  grid-area: item3;
  padding: 0;
}
.categoryItem_4{
  grid-area: item4;
  padding: 0;
}
.categoryItem_5{
  grid-area: item5;
  padding: 0;
} */
.categoryItem_{
  color: blue;
}

.hideInMobile{
    padding: 0 4rem !important;
}
@media screen and (max-width: 768px) {
    .hideLeadingLine{
        display: none !important;
    }
    .leadingFontSize{
        font-size: small !important;
        text-align: center;
    }
}
@media screen and (max-width: 1024px) {
    .hideInMobile{
        display: none !important;
    }
    .showInMobile{
        display: block !important;
    }
    .sliderWidth{
        width: 75% !important;
    }
}
@media screen and (max-width:425px) {
    .sliderWidth{
        width: 100% !important;
    }
}