* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.navbar-toggler:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.navbar-toggler {
  border: 0 !important;
}
.navbar .nav-pills .nav-link.active
{
  color: white !important;
  background-color: #21275b;
  border-radius: 30px;
  padding: 12px;
}
